@model IEnumerable<Tuan4_NgoTriDuc.Models.GioHang>

@{
    ViewBag.Title = "XoatatcaGiohang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XoatatcaGiohang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tensach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iSoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dthanhtien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.masach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iSoluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dthanhtien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
